<!DOCTYPE html>
<html>

<head>
    <title>BREAD (Browse, Read, Edit, Add, Delete)</title>
    <link href="/stylesheets/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>

<body>
    <div class="container mt-3">
        <div class="card">
            <div class="card-header">
                <h2 class="text-center">Updating Data</h2>
            </div>
            <div class="card-body" style="padding-left: 0; padding-right: 0;">

                <form action="" method="post" style="padding: 16px 16px 0px 16px;">
                    <div class="row mb-2">
                        <div class="col-2">
                            <label for="title" class="col-form-label">Title</label>
                        </div>
                        <div class="col-10">
                            <input type="text" name="title" class="form-control" placeholder="insert your title" value="<%= item.title %>">
                        </div>
                    </div>

                    <div class="row mb-2">
                        <div class="col-2">
                            <label for="deadline" class="col-form-label">Deadline</label>
                        </div>
                        <div class="col-10">
                            <% 
                                const date = new Date(item.deadline); 
                                const year = date.getFullYear();
                                const month = String(date.getMonth() + 1).padStart(2, '0');
                                const day = String(date.getDate()).padStart(2, '0');
                                const hours = String(date.getHours()).padStart(2, '0');
                                const minutes = String(date.getMinutes()).padStart(2, '0');
                                const formattedDate = `${year}-${month}-${day}T${hours}:${minutes}`;
                            %>
                            <input type="datetime-local" name="deadline" class="form-control" value="<%= formattedDate %>">
                        </div>
                    </div>

                    <div class="row mb-2">
                        <div class="col-2">
                            <label for="complete" class="col-form-label">Complete</label>
                        </div>
                        <div class="col-auto">
                            <input type="checkbox" class="form-check-input" name="complete" class="form-control" <%= item.complete ? 'checked' : ''%> value="1">
                            <label class="form-check-label" for="complete">done</label>
                        </div>
                    </div>
            </div>
            <div class="card-footer">
                <div class="row">
                    <button type="submit" class="btn btn-primary btn-sm"
                        style="width: 36px; margin-right: 5px; margin-left: 10px;"><i
                            class="fa-solid fa-floppy-disk"></i></button>
                    <a href="/todos" class="btn btn-warning btn-sm" style="width: 36px;"><i
                            class="fa-solid fa-rotate-left"></i></a>
                </div>
            </div>
            </form>

        </div>
    </div>
    <br>
</body>

</html>