<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Signup - Rubicamp</title>
  <link href="/stylesheets/bootstrap.css" rel="stylesheet">
  <link rel="apple-touch-icon" href="https://getbootstrap.com/docs/5.3/assets/img/favicons/favicon-32x32.png" sizes="180x180">
  <link rel="icon" href="https://getbootstrap.com/docs/5.3/assets/img/favicons/favicon-32x32.png" sizes="32x32" type="image/png">
  <link rel="icon" href="https://getbootstrap.com/docs/5.3/assets/img/favicons/favicon-16x16.png" sizes="16x16" type="image/png">
  <link rel="manifest" href="https://getbootstrap.com/docs/5.3/assets/img/favicons/manifest.json">
  <link rel="mask-icon" href="https://getbootstrap.com/docs/5.3/assets/img/favicons/safari-pinned-tab.svg" color="#712cf9">
  <link rel="icon" href="https://getbootstrap.com/docs/5.3/assets/img/favicons/favicon.ico">
</head>
<body style="background-color: #F5F5F5;">
  <div class="container mt-5 d-flex justify-content-center">
    <div class="text-center">
      <img src="/images/logo.png" class="img-fluid" alt="logo" style="height: 96px;">
      <h3>Please sign up</h3>
      <form action="" method="post">
        <div class="card mt-3">
          <ul class="list-group list-group-flush">
            <li class="list-group-item" style="padding: 6px 0 6px 0;">
              <input type="email" class="form-control" style="border: none; box-shadow: none;"  name="email" id="email" placeholder="Email address">
            </li>
            <li class="list-group-item" style="padding: 6px 0 6px 0;">
              <input type="password" class="form-control" style="border: none; box-shadow: none;"  name="password" id="password" placeholder="Password">
            </li>
            <li class="list-group-item" style="padding: 6px 0 6px 0;">
                <input type="password" class="form-control" style="border: none; box-shadow: none;"  name="repassword" id="repassword" placeholder="Retype Password">
              </li>
          </ul>
        </div>
        <button type="submit" class="btn btn-primary mt-2" style="width: 100%;">Sign up</button>
      </form>
      <p>have a account? please <a href="/">sign in</a></p>
      <br>
      <% if(info.length > 0) {%>
        <div class="alert alert-danger mt-3" role="alert">
          <%= info %>
        </div>
        <% } %>
      <% if(success.length > 0) {%>
        <div class="alert alert-success mt-3" role="alert">
          <%= success %>
        </div>
      <% } %>
      <p style="color: #6c757d;">©️ 2017-2023</p>
    </div>
  </div>
</body>
</html>