<!DOCTYPE html>
<html>

<head>
    <title>BREAD (Browse, Read, Edit, Add, Delete)</title>
    <link href="/stylesheets/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <style>
        /* Dark overlay for background when modal is open */
        #overlay {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.5);
            /* Semi-transparent black */
            z-index: 1050;
            display: none;
        }

        /* Modal should be above the dark overlay */
        #formModal {
            z-index: 1060;
        }
    </style>
</head>

<body>
    <div class="container mt-3">
        <div class="card">
            <div class="card-header">
                <h2 class="text-center">Todo List</h2>
            </div>
            <div class="card-body" style="padding-left: 12px; padding-right: 12px; padding-bottom: 0;">
                <div class="row mb-2">
                    <div class="col-2">
                        <label for="name" class="col-form-label">Title</label>
                    </div>
                    <div class="col-10">
                        <input type="text" name="search-title" id="search-title" class="form-control"
                            placeholder="insert your title">
                    </div>
                </div>

                <div class="row mb-2">
                    <div class="col-2">
                        <label for="deadline">Deadline</label>
                    </div>
                    <div class="col-4">
                        <input type="date" class="form-control" name="search-startdateDeadline"
                            id="search-startdateDeadline">
                    </div>
                    <div class="col-2">
                        <p class="text-center"> s.d. </p>
                    </div>
                    <div class="col-4">
                        <input type="date" class="form-control" name="search-enddateDeadline"
                            id="search-enddateDeadline">
                    </div>
                </div>

                <div class="row mb-2">
                    <div class="col-2">
                        <label for="search-complete">Complete</label>
                    </div>
                    <div class="col-10">
                        <select id="search-complete" name="search-complete" class="form-control">
                            <option value="">--select complete--</option>
                            <option value=0>Not Yet</option>
                            <option value=1>Yes
                            </option>
                        </select>
                    </div>
                </div>
                <div class="row ml-0 mb-3">
                    <div class="col-2">
                        <button class="btn btn-success" id="sort-deadline" onclick="sortByDeadline()"><i class="fa-solid fa-sort"></i> sort by
                            deadline</button>
                    </div>
                    <div class="col-10">
                        <button class="btn btn-warning btn-sm" onclick="reset()"><i
                                class="fa-solid fa-arrows-rotate"></i></button>
                        <button class="btn btn-info btn-sm" onclick="search()"><i
                                class="fa-solid fa-magnifying-glass"></i></button>
                    </div>
                </div>
            </div>
            <div class="card-header" style="border-bottom: none;">
                <div class="row ml-0">
                    <div class="col">
                        <input type="text" name="add-todo-title" id="add-todo-title" class="form-control"
                            placeholder="title">
                    </div>
                    <div class="col-auto">
                        <button class="btn btn-outline-primary" onclick="addTodo()"><i
                                class="fa-solid fa-arrow-down"></i></button>
                    </div>
                </div>
            </div>

            <div id="todos-list">

            </div>

        </div>
        <div class="card-footer">
        </div>
    </div>
    </div>
    <br>

    <!-- Dark overlay -->
    <div id="overlay"></div>

    <!-- Modal Structure -->
    <div id="formTodoModal" class="modal" tabindex="-1" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modal-title">Update Todo</h5>
                    <button type="button" class="btn-close" id="closeUserModal"></button>
                </div>
                <div class="modal-body">
                    <form id="todoForm">
                        <div class="row mb-3">
                            <label for="Title" class="col-form-label col-md-2">Title</label>
                            <div class="col-md-10">
                                <input type="text" class="form-control" id="title" name="title" required>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="deadline" class="col-form-label col-md-2">Deadline</label>
                            <div class="col-md-10">
                                <input type="datetime-local" class="form-control" id="deadline" name="deadline"
                                    required>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="complete" class="col-form-label col-md-2">Complete</label>
                            <div class="col-md-10">
                                <input type="checkbox" class="form-check-input" name="complete" class="form-control"
                                    id="complete" value="true">
                                <label class="form-check-label" for="complete">done</label>
                            </div>
                        </div>
                    </form>
                    <div id="deleteConfirmation" style="display:none;">
                        <p class="mb-0">Are you sure?</p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" id="closeOptionTodoModal">Close</button>
                    <button class="btn btn-primary" id="submitUser">Save changes</button>
                </div>
            </div>
        </div>
    </div>

    <script src="/javascripts/jquery-3.6.0.min.js"></script>

    <!-- <script>
        function search() {
            const searchForm = document.getElementById('search-form');
            const query = document.getElementById('search-input');
            const selectElement = document.getElementById('limit-input');
            readData(`page=1&limit=${selectElement.value}&query="${query.value}"&sortBy="_id"&sortMode="desc"`)
        }

        function reset() {
            readData(`page=1&limit=5&query=""&sortBy="_id"&sortMode="desc"`)
        }
    </script> -->

    <script>
        const currentURL = window.location.href
        const executorId = currentURL.split("/")[4]
        var params = {
            page: 1,
            limit: 10,
            title: '""',
            complete: '',
            startdateDeadline: '""',
            enddateDeadline: '""',
            sortBy: '"_id"',
            // sortBy: '"deadline"',
            sortMode: '"asc"',
            executor: executorId
        }

        const readData = () => {
            $.ajax({
                method: "GET",
                url: "http://localhost:3000/todos",
                dataType: "json",
                data: params
            }).done(function (response) {
                params = { ...params, totalPages: response.totalPages }
                let sortDeadlineButton = ''

                if (params.sortBy == '"deadline"' && params.sortMode == '"asc"') {
                    sortDeadlineButton += '<i class="fa-solid fa-sort-up"></i> sort by deadline'
                } else if (params.sortBy == '"deadline"' && params.sortMode == '"desc"') {
                    sortDeadlineButton += '<i class="fa-solid fa-sort-down"></i> sort by deadline'
                } else {
                    sortDeadlineButton += '<i class="fa-solid fa-sort"></i> sort by deadline'
                }

                $('#sort-deadline').html(sortDeadlineButton)

                let todosList = ''

                response.data.forEach((item, index) => {

                    const now = new Date();
                    const date = new Date(item.deadline);
                    const day = String(date.getDate()).padStart(2, '0');
                    const month = String(date.getMonth() + 1).padStart(2, '0');
                    const year = date.getFullYear();
                    const hours = String(date.getHours()).padStart(2, '0');
                    const minutes = String(date.getMinutes()).padStart(2, '0');
                    const formattedDate = `${day}-${month}-${year} ${hours}:${minutes}`;
                    const formatDateEdit = `${year}-${month}-${day}T${hours}:${minutes}`;
                    const passedDeadline = date < now && !item.complete;

                    if (passedDeadline) {
                        todosList += `
                        <div class="card mt-3 d-flex justify-content-center bg-danger-subtle text-danger-emphasis"
                            style="height: 50px; padding: 0 8px 0 16px;">
                            <div class="row">
                                <div class="col-11 d-flex align-items-center">
                                    <span>${formattedDate} ${item.title}</span>
                                </div>
                                <div class="col-1">
                                    <button class="btn btn-sm" onclick="openEditModal('${item._id}', '${item.title}', '${formatDateEdit}', '${item.complete}')"><i class="fa-solid fa-pen"></i></button>
                                    <button class="btn btn-sm" onclick="openDeleteModal('${item._id}')"><i class="fa-solid fa-trash"></i></button>
                                </div>
                            </div>
                        </div>
                    `
                    } else if (item.complete) {
                        todosList += `
                        <div class="card mt-3 d-flex justify-content-center bg-success-subtle text-success-emphasis"
                            style="height: 50px; padding: 0 8px 0 16px;">
                            <div class="row">
                                <div class="col-11 d-flex align-items-center">
                                    <span>${formattedDate} ${item.title}</span>
                                </div>
                                <div class="col-1">
                                    <button class="btn btn-sm" onclick="openEditModal('${item._id}', '${item.title}', '${formatDateEdit}', '${item.complete}')"><i class="fa-solid fa-pen"></i></button>
                                    <button class="btn btn-sm" onclick="openDeleteModal('${item._id}')"><i class="fa-solid fa-trash"></i></button>
                                </div>
                            </div>
                        </div>
                    `
                    } else {
                        todosList += `
                        <div class="card mt-3 d-flex justify-content-center bg-body-secondary text-secondary-emphasis"
                            style="height: 50px; padding: 0 8px 0 16px;">
                            <div class="row">
                                <div class="col-11 d-flex align-items-center">
                                    <span>${formattedDate} ${item.title}</span>
                                </div>
                                <div class="col-1">
                                    <button class="btn btn-sm" onclick="openEditModal('${item._id}', '${item.title}', '${formatDateEdit}', '${item.complete}')"><i class="fa-solid fa-pen"></i></button>
                                    <button class="btn btn-sm" onclick="openDeleteModal('${item._id}')"><i class="fa-solid fa-trash"></i></button>
                                </div>
                            </div>
                        </div>
                    `
                    }
                });
                $('#todos-list').html(todosList)
            }).fail(function (err) {
                alert('gagal pake jquery')
            })
        }

        const search = () => {
            params.title = `"${$('#search-title').val()}"`
            params.startdateDeadline = `"${$('#search-startdateDeadline').val()}"`
            params.enddateDeadline = `"${$('#search-enddateDeadline').val()}"`
            if ($('#search-complete').val()) {
                params.complete = `${$('#search-complete').val() == 1 ? true : false}`
            } else {
                params.complete = `${$('#search-complete').val()}`
            }
            params.sortBy = '"_id"'
            params.sortMode = '"asc"'
            readData()
        }

        const reset = () => {
            $('#search-title').val('')
            params.title = `""`
            $('#search-startdateDeadline').val('')
            params.startdateDeadline = `""`
            $('#search-enddateDeadline').val('')
            params.enddateDeadline = `""`
            $('#search-complete').val('')
            params.complete = ''
            params.sortBy = '"_id"'
            params.sortMode = '"asc"'
            readData()
        }

        const sortByDeadline = () => {
            if (params.sortBy == '"_id"') {
                params.sortBy = '"deadline"'
                params.sortMode = '"asc"'
            } else if (params.sortBy == '"deadline"' && params.sortMode == '"asc"'){
                params.sortBy = '"deadline"'
                params.sortMode = '"desc"'
            } else {
                params.sortBy = '"deadline"'
                params.sortMode = '"asc"'
            }
            readData()
        }

        const addTodo = () => {
            let addTodoParams = {
                title: $('#add-todo-title').val(),
                executor: executorId
            }
            $.ajax({
                method: "POST",
                url: "http://localhost:3000/todos",
                dataType: "json",
                data: addTodoParams
            }).done(function (response) {
                $('#add-todo-title').val('');
                readData()
            })
        }

        const openEditModal = (id, title, deadline, complete) => {
            $('#formTodoModal').css('display', 'block');
            $('#todoForm').css('display', 'block');
            $('#deleteConfirmation').css('display', 'none');
            $('#overlay').css('display', 'block');

            $('#closeOptionTodoModal').text("Close");
            $('#submitUser').text("Save changes");

            $('#title').val(title);
            $('#deadline').val(deadline);

            if (complete == "true") {
                $('#complete').prop('checked', true);
            } else {
                $('#complete').prop('checked', false);
            }

            $('#submitUser').off('click').on('click', function () {
                editTodo(id);
            });
        }

        const closeModal = () => {
            $('#formTodoModal').css('display', 'none');
            $('#overlay').css('display', 'none');
        }

        $('#closeUserModal').on('click', function () {
            closeModal();
        });

        $('#closeOptionUserModal').on('click', function () {
            closeModal();
        });

        const editTodo = (id) => {
            let formArray = []
            formArray.push(`"title" : "${$('#title').val()}"`)
            formArray.push(`"deadline" : "${$('#deadline').val()}"`)
            formArray.push(`"complete" : ${$('#complete').prop('checked')}`)
            console.log(formArray)
            let jsonData = '{'
            jsonData += `${formArray.join(',')}`
            jsonData += '}'
            jsonData = JSON.parse(jsonData)

            $.ajax({
                method: "PUT",
                url: `http://localhost:3000/todos/${id}`,
                dataType: "json",
                data: jsonData
            }).done(function (response) {
                closeModal()
                readData()
            })
        }

        const openDeleteModal = (id) => {
            $('#formTodoModal').css('display', 'block');
            $('#todoForm').css('display', 'none');
            $('#deleteConfirmation').css('display', 'block');
            $('#overlay').css('display', 'block');

            $('#closeOptionTodoModal').text("No");
            $('#submitUser').text("Yes");
            $('#submitUser').off('click').on('click', function () {
                deleteTodo(id);
            });
        }

        const deleteTodo = (id) => {
            $.ajax({
                method: "DELETE",
                url: `http://localhost:3000/todos/${id}`,
            }).done(function (response) {
                closeModal()
                readData()
            })
        }

        $(document).ready(function () {
            readData()
        })   
    </script>

</body>

</html>